/* * {
      border: 1px blue solid;
    
    } */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
}

.navbar {
    background-color: #333;
    color: white;
    width: 100%;
}

.tb-nav {
    width: 100%;
}


.navbar a {
    color: white;
    text-align: right;
    text-decoration: none;
}

.nav-logo {
    padding-left: 100px;
    
}

.nav-links {
    text-align: right;
    padding-right: 100px;
    
}

.td-text{
    padding-right: 15%;
}

.quien {
    margin: 0 15px;
}

.perfil {
    width: 350px;
    height: 350px;
}

.img-perfil{
    text-align: right;
}

.btn-leer {

    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    background: black;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 80px;
}

.btn-leer-py {

    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    background: black;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    justify-content: center;
    width: 80px;
}


h1,h3{
    margin: 10px;
}

.section-quiensoy-table {
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
}



.seccion {
    padding: 10px 100px 10px 100px;
    text-align: center;

}
.foto-perfil {
    width: 150px;
    border-radius: 100px;
    border: 5px solid white;
}

.gris {
    background-color: #222;
    color: white;
}




.tabla-proyectos {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
}

.tabla-proyectos td {
    padding: 0 10px;
}

.txt-py{
    text-align: center;
}

.tarjeta {
    /* border:  2px solid #000; */
    
    padding-bottom: 20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    ;
}

.info-txt{
    padding: 15px;
}

.btn-py{
    text-align: center;
}

.tabla-proyectos td:first-child {
    padding-left: 0;
}

.tabla-proyectos td:last-child {
    padding-right: 0;
}

.proyecto {
    text-align: justify;
    width: 100%;
    height: 100%;
}

.proyecto img {
    width: 100%;
    height: 180px;

}


.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 100px 20px 20px;

    margin-top: 50px;
    text-align: right;
}