


/* en essta parte manejo el general de la factura y el border para saber los limites que tiene cada caja*/
* {
            /* border: 1px solid blue; */
            margin: 0;
            padding: 0;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }
        /* aca modifico el espacio en general del cuerpo de la pagina */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eaeaea
        }

        /* empiezo a modificar la cuerpo donde realmente va a ir la factura */
        .padre {
            max-width: 800px;
            margin: 50px auto;
            background-color: #fefefe;
            /* overflow donde le doy el movimiento a la pagina */
            overflow: hidden;
            /* en esta partre le doy la sobra inferior de la factura */
            box-shadow: 0px 15px rgba(0, 0, 0, 0.7); 
        }

        
        /* el h1 es el color y el tamaño del texto FACTURA */
        h1{
            color: #df4269; 
            text-align: right; 
            width: 20%;
            display: flex;
            flex-flow: row wrap ;
        }
        /* me doy el posicionamiento a los datos de la empresa */
        #empresa {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:25px 70px 10px 70px;
        }
        /* le doy el porcentaje que va a ocupar el logo en su div */
        .logo {
            width: 15%;
        }

        /* le doy estas caracteristas a todos los titulos h4 */
        h4 {
            width: 100px;
            display: flex;
            gap: 10px;

        }
        /* color a todos los titulos y parrafos */
        h4,
        h5,
        p {
            color: #e6eaee;
        }
        /* le doy el color al encabezado de la factura */
        header {
            background-color: #25282f;
        }
        /* especifico el posicionamiento de los datos y le doy un color al borde superior */
        .datos-empresa {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            border-top: 4px solid #df4269;
        }

        /* ubico los datos "fecha" de la factura */
        .info-fechas {
            display: flex;
            padding: 10px;
        }

        /* le doy el tamaño todas de la pantalla a la factura */
        table {
            width: 100%;
        }
        /* ordeno las cajas de texto y como tiene que ir ubicado el texto */
        td {
            width: 100px;
            border-bottom: 1px solid black;
            padding: 15px;
            text-align: center;
        }
        /* ubicacion de los datos inferiores de la factura */
        .factura {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        /* los datos que van a la izquierda cuato van a ocupar */
        .izquierda {
            width: 50%;
        }
        /* los datos de la derecha cuanto van a ocupar */
        .derecha {
            width: 40%;
            text-align: right;
        }
        /* el color de la informaicion inferior */
        .p-info {
            color: black;
        }
        /* las casillas para dejar un espacio sin contenido */
        .vacio {
            padding: 20px;
        }
        /* la cantidad que van a ocupar las cajas de los inventarios y eliminar las separaciones */
        .inventario {
            width: 100%;
            border-collapse: collapse;
        }
        /*  */
        .inventario td {
            padding: 12px 10px;
            text-align: left;
            border-bottom: 1px solid #ccc;
        }

        .inventario tr:first-child td {
            font-weight: bold;
            padding: 15px 10px;
        }

        .inventario td:nth-child(1) {
            width: 5%;
            text-align: center;
        }

        .inventario td:nth-child(2) {
            width: 45%;
        }

        .inventario td:nth-child(3),
        .inventario td:nth-child(5) {
            width: 15%;
            text-align: right;
        }

        .inventario td:nth-child(4) {
            text-align: center;
        }